
h1 {
    
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    color: rgb(65, 149, 182);
}

#juice {
    
}

#atun{

}

li{
    font-size: 18px;
    font-family: cursive;
    color: rgb(54, 153, 54);
}